@charset "utf-8";
/* CSS Document */
body{
	margin-top:0;
    background: url(../img/lightbkground.jpg) repeat left top;

}

.container {
    width: 80%;
	max-width: 1200px;
	min-width: 1100px;
    margin: 0 auto;
    overflow: hidden;
	height: 700px;
    background: #FFF
}
.sidebar_left {
	margin-top: 0;
    float: left;
	width: 20%;
    background: #93A5C4 url(../img/barbackground.jpg) repeat left top;
    height: 700px;
}
.content{
	height: 86%;
	width: 100%;
	float: left;
	overflow: scroll;
}
.frame_top{
	margin-top:0;
    float: left;
	width: 100%;
	height:5%;
    background: #93A5C4 url(../img/barbackground.jpg) repeat left top;
    padding: 10px 0;
}

.frame_bottom{
	
	height:5%;
	margin-bottom:0;
	vertical-align:bottom;
    float: left;
	width: 100%;
    background: #93A5C4 url(../img/barbackground.jpg) repeat left top;
    padding: 10px 0;
}


.header{
	float: left;
	width: 100%;
	padding: 0 0;
	
}
.main_body {
	margin-top: 0;

	width: 77.5%;
	float: left;
	height: 700px;
	background-image: url(../img/bodybackground.jpg);
}
.sidebar_right{
	margin-top: 0;
    float: left;
	width: 2.5%;
	height: 700px;
    background: #93A5C4 url(../img/barbackground.jpg) repeat left top;
    height: 700px;
}



P
{

padding-top: 10px;
margin: 0;
text-align:center;
}



table.navbar
{
	font-size: 10pt;
	margin: 0;
	padding: 0;
	font-weight: bold;
	border-collapse: collapse;
    border-top: thin solid #0FF;
}


table.menu
{
	font-size: 8pt;
	margin: 0;
	padding: 0;
	font-weight: bold;
	border-collapse: collapse;
	vertical-align: middle;

}

td.menuNormal

{
	padding: 0;
	color: #333;
	font-weight: bold;
	vertical-align: middle;
	vertical-align: middle;
	font-family: "Lucida Console", Monaco, monospace;

}

td.menuHover
{
	border: 1px solid #0FF;
	padding: 0;
	color: #0FF;
	font-weight: bold;
	font-family: "Lucida Console", Monaco, monospace;
}

div.menuNormal
{
	display: none;
	position: absolute;
	padding-top: 5px;
}
div.menuHover
{
	display: inline;
	position: absolute;
	padding-top: 5px;
}

a.menuitem:link
{
	text-decoration: none;
	color: #333;
	display: block;
	text-align: justify;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

a.menuitem:visited
{text-decoration: none;
color: black;

display: block;}

a.menuitem:hover
{text-decoration: none;
color:#0FF;
display: block;}

a.menuitem:active
{text-decoration: none;
color:#F00;
display: block;}
